/* *{
  border: 1px solid #f51212e5;
} */

body {
  /* background-image: linear-gradient(to right, #208023, #24d62d, #208023); */
  position: relative;
  -webkit-user-select: none;
  background-image: linear-gradient(to right, #00C49A , #63c2ac);
  font-family: 'Ubuntu', sans-serif;}

main{
  overflow-y: scroll;
  max-height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; 

}

.xyz {
  scroll-snap-align: start;
  max-height: max-content;
  scroll-margin-top: 100px;

}

::-webkit-scrollbar{
width: 8px;
}

::-webkit-scrollbar-thumb{
    background: #1A535C;
    border-radius: 12px;
}

::-webkit-scrollbar-track{
  background: rgba(26, 83, 92, 0.37);
  border-radius: 12px;
}



/* !NAVBAR TOP */
/*  *Student information tracker */
.navbar{
  background-color: #1A535C;
}
#mainNavbar .navbar-brand {
  color: #0e3131;
  font-weight: 600;
  background-image: linear-gradient(to right, #bcbebc, #dde2dd, #c4c0c0);
  border-radius: 10px;

  
}

/* *for pict logo */
.img-fluid {
  height: 3rem;
  border-radius: 10px;
}

/*  * about and contact links */
#mainNavbar .nav-link {
  font-size: 1.2rem;
  margin-left: 2rem;
  color: #fdfdfd;
}

/*  * abou and contact links on hover*/
#mainNavbar .nav-link:hover {
  color: #2b2b2b;
  background-color: #f0efef;
}

.modal {
  background-color: #090a09dc;

}

.modal-content {
  border: none;
  border-radius: 10vh;
}

.modal-header {
  background-image: linear-gradient(to right, #bcbebc, #dde2dd, #c4c0c0);
  color: #0e3131;
  font-size: 20px;
  font-weight: 700;

  border: none;
}

.modal-body {
  color: #f0f0f0;
  background: linear-gradient(to top, #206d67, #13423e);
  border: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;

}


/* !MAIN CONTENT */
/* *adding margin to container due to navbar */
.content{
  margin-top: 4.7rem;
}

.card{
  color: #f0f0f0;
  background: linear-gradient(to top, #1d645e, #13423e);
  border-radius: 10px;
  box-shadow: 2px 2px 10px 1px #172b1b;
  transition: 0.5s;
  }

.card-title{
  background-image: linear-gradient(to right, #bcbebc, #dde2dd, #c4c0c0);
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0 ;
  color: #0e3131;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  letter-spacing: 2px;
 

}

.card-body{
  border-radius: 0 0 10px 10px;
  border-left: 2px solid #dde2dd;
  border-right: 2px solid #dde2dd;
  border-bottom: 2px solid #dde2dd;

}

.fa-phone{
  font-size: 1.3rem;
  color: #ffffff;
  margin: auto;
}

.fa-envelope{
  font-size: 1.1rem;
  color: #ffffff;
  margin: auto;
}

.fa-home{
  font-size: 1.3rem;
  color: #ffffff;
  margin: auto;
}



#card1{
  
  margin-top: 80px;
  margin-bottom: 80px;
}

#card2{
  margin-top: 40px;
  margin-bottom: 60px;
}

#card3{
  margin-top: 40px;
  margin-bottom: 40px;
}

#card4{
  margin-top: 150px;
  margin-bottom: 20vh;
}

#profile-picture{
  padding-top: 1.3rem;
  border-radius: 10px 0 0 0 ;

}

.fa-user-circle{
  font-size: 13rem;
}

.card2-titles{
  border-radius: 10px 10px 0 0;
}



#card1-a{
  border-radius: 0 10px 0 0;
  border-left: 2px solid #dde2dd;
  border-right: 2px solid #dde2dd;
  border-top: 2px solid #dde2dd;
}

#card1-b{
  border-radius: 0 0 10px 10px;

  border: 2px solid #dde2dd;
}

#general-info-body{
  padding-top: 17px;
   padding-right: 30px;
}

#contact-info-body{
padding: 20px 5px 0px 5px;
}

.infos{
  margin: 5px;
}



.infos2{
margin: 10px 30px;
}

.infos3{
   /* border: 2px solid rgb(23, 240, 255); */
   padding-top: 5px;
}

.infos4{
  padding-top: 5px;
  /* border: 1px solid cyan; */
}

.field{
    border-radius: 1px;
    border-bottom: 1px solid #F4E7BB;
    background: transparent;
    outline: none;   
    color: #e8f7ee;
}


#overall-div2{
  border-left: 2px solid white;


}
#overall-div3{
  border-top: 2px solid white;

}
#overall-div4{
  border-left: 2px solid white;
  border-top: 2px solid white;


}

#domains{
  font-size: 25px;
  align-items: center;
  display: flex;
}

#general-info-title{
  background-image: linear-gradient(to right, #bcbebc, #dde2dd, #c4c0c0);
  text-align: center;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
}

/* buttons for semister */
.semButtons {
  background:    #1de9cf;
  background-image: linear-gradient(to right, #29a096, #3de0c5, #29a096);
  box-shadow:    0 1px #444444;
  color:         #292929;
  display:       inline-block;
  text-align:    center;
  font-weight: 700;
  font-size: large;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s;
  }


  .semButtons:hover{
  transform: scaleY(1.05);
  background-image: linear-gradient(to right, #3de0c5, #d8f5f2, #3de0c5);

  }
  .semButtons:focus{
  background-image: linear-gradient(to right, #134444, #1d6161, #134444);
  color: #f0efef;
  outline: none;
  }

  
/* *when width < 576 (on small devices) , reduce font-size of navbar */
/* *so that navbar collapse looks good on small screen */

@media (max-width: 768px) {

  .infos2{
    font-size: 15px;
    margin-right: 30px;
    margin-left: 0 ;
    margin-top: 1px;
  }

  #card1-a{
    border-radius: 10px 10px 0 0;
  }
 
}


@media (max-width: 576px) {

  #mainNavbar .navbar-brand {
      font-size: 0.8rem;
  }

  h6{
    font-size: 15px;
  }

  button span{
    font-size: 15px;
  }

  .infos2{
    font-size: 11px;
    margin-right: 30px;
    margin-left: 0 ;
  }

  .infos4{
    padding-left: 0;

  }

}


/* !NAVBAR - BOTTOM */

/* *Bottom navbar which is fixed-bottom */
#bottomNavbar {
  color: #e4e4e4;
  height: 30px;
}

/** copyright text */
#bottomNavbar h6 {
  font-size: 13px;
}



